html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0f0f0f;
  background-color: #f6f6f6;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Broadway";
  src: url("assets/Broadway-Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: left;
}

label {
  font-weight: inherit;
  color: #0f0f0f;
}

input,
button,
select,
option,
textarea {
  padding: 0.4em 0.8em;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #0f0f0f;
  background-color: #ffffff;
  line-height: 150%;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead,
tbody {
  text-align: center;
  vertical-align: middle;
}

th,
td {
  padding: 0.2em 0.4em;
}

th {
  font-weight: bold;
  color: #0f0f0f;
  background-color: #f6f6f6;
  border-left: 2px solid #737373;
  border-right: 2px solid #737373;
}

td {
  border: 1px solid #f6f6f6;
}

th:nth-child(1),
td:nth-child(1) {
  width: 60px;
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

#app-title {
  position: relative;
  font-family: "Broadway";
}

#app-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 50px;
  background-image: url("assets/MewRename.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  padding: 4vh 8vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto;
}

.grid {
  padding: 16px 0;
  display: grid;
  gap: 16px 8px;
  align-items: center;
  grid-template-rows: auto;
  box-sizing: border-box;
}

.flex-grid {
  grid-template-columns: max-content 1fr max-content;
}

.fixed-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.row {
  display: contents;
}

.row > 　label {
  grid-column: 1;
  text-align: right;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.cell input[type="text"] {
  width: 100%;
}

.cell input[type="text"]:invalid + span::after {
  content: attr(data-hint);
  margin-left: 8px;
}

.flex-cell {
  grid-column: 2 / -1;
}

#root-input {
  grid-column: 2;
}

#browse-button {
  width: 80px;
  grid-column: 3;
}

.row-item {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

#result-area {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #0f0f0f;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  outline: none;
}

.highlight {
  display: inline-block;
  margin: 1px 2px;
  padding: 0;
  color: #0881a3;
  background-color: #fde9df;
  border-radius: 0.25em;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.t-cell {
  text-align: left;
}
