:root {
  --window-background-color: #f8f8f8;
  --hover-border-color: #396cd8;
  --active-border-color: #396cd8;
  --active-background-color: #e8e8e8;
  --normal-background-color: #ffffff;
  --normal-text-color: #0f0f0f;
  --faded-text-color: #8e8e8e;
  --tbody-grid-color: #f6f6f6;
  --thead-grid-color: #737373;
  --highlight-text-color: #0881a3;
  --highlight-background-color: #fde9df;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: var(--normal-text-color);
  background-color: var(--normal-background-color);
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Broadway";
  src: url("assets/Broadway-Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  color: var(--faded-text-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--normal-text-color);
}

h1 {
  margin: 32px 0 0 16px;
  padding: 0;
  line-height: 1.5;
  text-align: left;
}

label {
  font-weight: inherit;
  color: var(--normal-text-color);
}

input,
button,
select,
option,
details,
textarea {
  padding: 0.4em 0.8em;
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--normal-text-color);
  background-color: var(--normal-background-color);
  line-height: 150%;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  outline: none;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: none;
}

thead,
tbody {
  text-align: center;
  vertical-align: middle;
}

th,
td {
  padding: 0.2em 0.4em;
}

th {
  font-weight: bold;
  color: var(--normal-text-color);
  background-color: var(--window-background-color);
  border-left: 2px solid var(--thead-grid-color);
  border-right: 2px solid var(--thead-grid-color);
}

td {
  border: 1px solid var(--tbody-grid-color);
}

th:nth-child(1),
td:nth-child(1) {
  width: 80px;
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

th select {
  width: 100%;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--hover-border-color);
}
button:active {
  border-color: var(--active-border-color);
  background-color: var(--active-background-color);
}

details {
  margin: 0;
  background-color: var(--window-background-color);
}

summary {
  text-align: left;
}

footer {
  height: auto;
  padding: 0.2em 0.4em;
}

#app-title {
  position: relative;
  font-family: "Broadway";
}

#app-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 50px;
  background-image: url("assets/MewRename.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  padding: 0 16px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr max-content;
  gap: 2vh 2vw;
  text-align: center;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: var(--window-background-color);
}

#rename-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  gap: 1.2vh 1.2vw;
}

.grid {
  display: grid;
  gap: 1.6vh 1.6vw;
  align-items: center;
  grid-template-rows: auto;
  box-sizing: border-box;
}

.flex-grid {
  grid-template-columns: max-content 1fr max-content;
}

.fixed-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.row {
  display: contents;
}

.row > 　label {
  grid-column: 1;
  text-align: right;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.cell input[type="text"] {
  width: 100%;
}

.cell input[type="text"]:invalid + span::after {
  content: attr(data-hint);
  margin-left: 8px;
}

.flex-cell {
  grid-column: 2 / -1;
}

#root-input {
  grid-column: 2;
}

#browse-button {
  width: 80px;
  grid-column: 3;
}

.row-item {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

#result-area {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--normal-text-color);
  background-color: var(--normal-background-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  outline: none;
}

.highlight {
  display: inline-block;
  margin: 1px 2px;
  padding: 0;
  color: var(--highlight-text-color);
  background-color: var(--highlight-background-color);
  border-radius: 0.25em;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.t-cell {
  text-align: left;
}

nav > a {
  padding: 0 8px;
}

#about-me {
  margin: 16px auto;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

#licence {
  display: block;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}

#donate {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#donate .qrcode {
  width: 100%;
  flex-grow: 1;
  background-image: url("/src/assets/QRcode.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
